
<div class="container mt-4">
  <header class="bg py-2 ">
    <div class="container px-4 px-lg-5 my-5 ">
        <div class="text-center">
            <h1 class="display-4 fw-bolder">Resultado da Pesquisa</h1>
            <h2 class="  mb-0" *ngIf="mensagem">{{ mensagem }}</h2>
        </div>
    </div>
  </header>
  
  <div class="row">
    <div 
      *ngFor="let item of lista" 
      class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4"
    >
    <div class="card h-100">
      <img 
        class="card-img-top" 
        [src]="'./assets/' + item.codigo + '.jpg'" 
        alt="{{ item.nome }}"
        (click)="abrirDetalhe(item)"
      >
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ item.nome }}</h5>
        <p class="card-text valor w-100">R$ {{ item.valor | number:'1.2-2' }}</p>
        <div class="mt-auto">
          <button 
            *ngIf="item.estoque > 0" 
            class="btn btn-primary w-100 mb-2"
            (click)="comprar(item)"
          >
            Comprar 
            <i class="bi bi-bag-plus"></i>
          </button>
          <button 
          *ngIf="item.estoque === 0" 
          class="btn btn-secondary w-100 mb-2" 
          disabled
        >
          Indisponível
          <i class="bi bi-bag-x"></i>
        </button>
          <button  
            class="btn btn-outline-secondary w-100 mb-2"
            (click)="abrirDetalhe(item)"
          >
            Detalhes
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
